IP         = 192.168.0.1 #IP address of the robot
SPEED      = 0.03        #Speed of the pencil
LENGTH     = 0.035       #Length of the pencil
FORCE      = 0.01        #Pressure on the pencil
CORNER_1_X = 0.105       #Coordinates of top left corner
CORNER_1_Y = -0.7
CORNER_1_Z = 0
CORNER_2_X = -0.105      #Coordinates of top right corner
CORNER_2_Y = -0.7
CORNER_2_Z = 0
CORNER_3_X = -0.105      #Coordinates of bottom right corner
CORNER_3_Y = -0.403
CORNER_3_Z = 0
